@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400italic);

body {
   margin: 0;
}

h1{
   font-family: 'Julius Sans One';

}

h2, h3{
   font-family: 'Julius Sans One'
}
#header-title{
   font-size: 30px;
}
#subtitle{
   font-family: "Libre Baskerville";
   font-style: italic;
   font-weight: 400;
   font-size: 20px;
   margin-left: 135px;

}

#container{
   background-image: url(http://www.csszengarden.com/214/huntington.jpg);
   background-size: cover;
   z-index: 5;
   display: grid;
   grid-template-columns: 2fr 1fr;
}

header{
   grid-column: 1/3;
   grid-row: 1/2;
   background-image: url(http://www.csszengarden.com/214/contours.png);
   color: white;
}
#header-title {
   margin-left: 135px;
}

#logo {
   position: absolute;
   height: 125px;
   width: 125px;
}

#all-designs{
   color: white;
   padding: 2px;
   margin-bottom: 100px;
   margin-top: 50px;
   margin-left: 50px;
   background-color: rgba(255,255,255,0.2);
   text-align: center;
   border-radius: 5px;
}

#intro {
   background-color: white;
   grid-column: 1/4;
   grid-row: 2/3;
   color: rgb(51,80,80);
}

#participation {
   grid-column: 1/4;
   grid-row: 3/4;
   background-color: rgba(193,218,203,0.6);
   background-image: url(http://www.csszengarden.com/214/contours.png);
   color: rgb(51,80,80);
}

#requirements {
   background-color: white;
   grid-column: 1/4;
   grid-row: 4/5;
   color: rgb(51,80,80);
}

#info {
   grid-column: 1/4;
   grid-row: 5/6;
   background-color: rgba(193,218,203,0.6);
   background-image: url(http://www.csszengarden.com/214/contours.png);
   text-align: center;
}
.body-text{
   padding: 20px;
}
.body-text > p {
   font-size: 15px;
}

#sidebar {
   grid-column: 1/4;
}

#sidebar1 {
   color: rgb(51,80,80);
   padding-top: 15px;
   grid-column: 1/3;
   grid-row: 6/7;

}
#sidebar2 {
   color: rgb(51,80,80);
   grid-column: 1/3;
   grid-row: 7/8;
}

li {
   list-style: none;
}



@media screen and (max-width: 1150px) {
   #subtitle{
      padding-bottom: 50px;
   }
   #all-designs{
      display: none;
   }
   #all-designs-mobile{
      position: absolute;
      top: 154px;
      color: white;
      height: 50px;
      width: 100%;
      background-color: rgba(255,255,255,0.3);
      text-align: center;
   }
   #sidebar{
      background-color: rgba(255,255,255,0.3);

   }
   #sidebar2 {
      background-color: rgba(255,255,255,0.5);

   }
   #sidebar1 > ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
   }

   #sidebar2 > ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 4 1fr;

   }

   .left{
      grid-column: 1/2;
   }
   .right{
      grid-column: 2/3;
   }


}

@media screen and (min-width: 1150px){
   #container{
      background-image: url(http://www.csszengarden.com/214/huntington.jpg);
      background-size: cover;
      z-index: 5;
      display: grid;
      grid-template-columns: 2fr 1fr;
   }

   #sidebar{
      grid-column: 2/3;
      grid-row-start: 1;
      grid-row-end: 5;
      background-color: rgba(8,72,78, 0.3);
      width: 100%;
   }

   #subtitle{
      font-size: 30px;
   }
   #intro {
      padding-bottom: 100px;
   }
   #all-designs-mobile{
      display: none;
   }
   .body-text{
      margin-left: 120px;
      margin-right: 550px;
   }
   .body-text > p {
      font-size: 20px;
   }
   #sidebar1 {
      color: rgb(51,80,80);
      padding-top: 30px;

   }
   #sidebar2 {
      color: rgb(51,80,80);
      grid-column: 2/3;
      grid-row: 3/4;
      margin-top: 20px;
      padding-right: 10px;
   }
   #sidebar1 > ul > li {
      display: inline;
   }

}
